body {
	background: #484848;
	font-family: 'Open Sans', Arial, sans-serif;
	width: 320px;
}

#setting {
	cursor: pointer;
}

td {
	padding-left: 5px;
}

/*Checkboxes styles*/

.checkbox {
	display: none;
}

.checkbox+label {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 20px;
	font: 18px / 20px sans-serif;
	color: #DDD;
	cursor: pointer;
	-webkit-user-select: none;
}

.checkbox+label:last-child {
	margin-bottom: 7px;
}

.checkbox+label:before {
	content: '';
	display: block;
	width: 15px;
	height: 15px;
	border: 1px solid #DDD;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.6;
	-webkit-transition: all .12s, border-color .08s;
	transition: all 0.12s, border-color 0.08s;
}

.checkbox:checked+label:before {
	width: 10px;
	top: -5px;
	left: 5px;
	border-radius: 0;
	opacity: 1;
	border: 3px solid #DDD;
	border-top-color: transparent;
	border-left-color: transparent;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#set {
	position: absolute;
	z-index: 5;
	left: 62px;
	top: -82px;
	height: 54px;
	width: 186px;
	background-color: #484848;
	border: 1px solid #DDD;
	padding: 13px;
	transition: top 490ms ease-in 0ms;
}

#maid {
	position: absolute;
	z-index: 3;
	background-color: #555555;
	transition: top 490ms ease-in 0ms;
	height: 174px;
	width: 320px;
	opacity: 0.5;
	top: -185px;
}


#set.visible {
	top: 45px;
}

#maid.visible {
	top: 0px;
}

.myButton {
	width: 92px;
	margin-right: 11px;
	font-size: 18px;
	background-color: #484848;
	color: #DDD;
	border: 1px solid #DDD;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	line-height: 33px;
	margin-bottom: 11px;
}

.myButton:hover {
	color: #7BC6E7;
	border: 1px solid #7BC6E7;
}

.myButton:active {
	font-weight: bold;
}

/* HAMBURGER */

.visuallyHidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.container {
	width: 70%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.hamburger {
	margin: 0 auto;
	/* margin-top: 10px; */
	width: 30px;
	height: 11px;
	position: relative;
}

.hamburger .bar {
	padding: 0;
	width: 30px;
	height: 4px;
	background-color: #DDD;
	display: block;
	border-radius: 4px;
	transition: all 0.4s ease-in-out;
	position: absolute;
}

.bar1 {
	top: 0;
}

.bar2,
.bar3 {
	top: 13.5px;
}

.bar3 {
	right: 0;
}

.bar4 {
	bottom: 0;
}

.hamburger2 .bar2,
.hamburger3 .bar3,
.hamburger4 .bar4 {
	top: 13.5px;
}

.hamburger4 .bar5 {
	bottom: 0px;
}

.hamburger4 .bar {
	transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
}

.hamburger4 .bar2 {
	width: 1px;
	transform: rotate(90deg);
	left: 13.5px;
}

.hamburger4 .bar3 {
	width: 1px;
	left: 13.5px;

}

.checkbox4:checked+label>.hamburger4>.bar1 {
	top: 13.5px;
	background-color: transparent;
}

.checkbox4:checked+label>.hamburger4>.bar2 {
	left: 0px;
	width: 30px;
	transform: rotate(45deg);
}

.checkbox4:checked+label>.hamburger4>.bar3 {
	left: 0;
	width: 30px;
	transform: rotate(-45deg);
}

.checkbox4:checked+label>.hamburger4>.bar4 {
	background-color: transparent;
}

.checkbox4:checked+label>.hamburger4>.bar5 {
	bottom: 13.5px;
	background-color: transparent;
}

.selector+label {
	left: 0px;
	transition: left 150ms ease-in 0ms;
}